body{

    padding: 0;
    margin: 0;
    background: rgb(153, 226, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;

}

h2{
    font-size: 2rem;
    color: rgb(7, 236, 64);
}

.section{
    text-align: center;

}

.btn{
   font-size: 5rem;
   border: none;
   border-radius: 15px;
   padding: 15px;
   background-color: rgb(255, 255, 255,.2);
   filter: grayscale();
   transition: filter .2s ease-in-out;
   cursor: pointer;

}

.btn:hover{

    filter: grayscale(0);
}

.emoji-name{
     font-weight: 600;
     color: rgb(175, 5, 5);
     font-size: 2rem;

}